body{
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    background: black;
    
    
}
ul{
    margin: 0;
    
}
li{
   
    display: inline-block;
   
}
ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(212, 20, 20);
    padding: 30px;
    display: block;
}
input:focus{
    width: 250px;
    height: 40px;
    border-radius: 15;
    margin: 40;
    background: green;
    box-shadow: 0 04px 8px green;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 15;
    margin: 40;
}
input:hover{
    width: 250px;
    height: 40px;
    border-radius: 15;
    margin: 40;
    background: rgb(103, 194, 103);
    box-shadow: 0 04px 8px rgb(13, 37, 146);
}
p::selection{
    background: rgb(218, 14, 48);
    color: green;
}