body{
/* background-image: linear-gradient(to bottom rgb(111, 167, 7), rgb(255, 115, 0) ); */
 background-image: radial-gradient(  rgb(111, 167, 7), rgb(255, 115, 0) );
}

.heading{
  color:rgb(127, 255, 0);
  background: orange;
}
#paragraph{
    padding: 40px;
    
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 10px;
    text-decoration: blue;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;

    
}
/* input[type="text"]{
    height: 40;
    width: 300;
    font-size: 30px;
} */
/* input[type="password"]{
    height: 40;
    width: 300;
    font-size: 20px;
} */
input[type="text"],input[type="password"]{
    height: 20;
    width: 300;
    font-size: 30px;
    border-inline: 20;
}
#box1{
    background: green;
    padding: 10px;
    border: 10px dashed red;
}
#inner1{
    height: 500px;
    background: orange;
    float:left;
    width: 40%;
outline:  20px dotted rgb(51, 24, 204);
box-shadow: 5px 5px 5px 8px black;

}
#inner2{
    height: 500px;
    background: orangered;
    padding: 70px;
    margin: 30;
}
#img{
    height: 300;
    width: 300;
}